* {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}

$primary: #017EFE;
$secondary: #414141;

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media only screen and (min-width: 940px) {
  .container {
    width: 940px;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    width: 1200px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 1366px;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    width: 1440px;
  }
}

[class*="-button"] {
  display: flex;
  width: max-content;
  padding: 10px 20px;
  cursor: pointer;
}
.primary-button {
  background-color: $primary;
  color: #fff;
}
.secondary-button {
  background-color: $secondary;
  color: #fff;
}
